# NLP 2-AIML Capstone Grp 8

In this notebook we tried to prepare a balanced dataset using SMOTE

In [ ]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (1.0.0)

In [ ]:
# check version number
import imblearn
print(imblearn.__version__)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

0.4.3

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
# Generate and plot a synthetic imbalanced classification dataset
from collections import Counter
from sklearn.datasets import make_classification
from matplotlib import pyplot
from numpy import where

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Setting the current working directory

import os; 
os.chdir('/content/drive/MyDrive/Colab Notebooks/Capstone')

In [ ]:
import pandas as pd
#ram 
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Capstone/IHMStefanini_industrial_safety_and_health_database_with_accidents_description_Dataset.csv")
#satya path /content/drive/MyDrive/Capstone project/IHMStefanini_industrial_safety_and_health_database_with_accidents_description.csv
#data = pd.read_csv("/content/drive/MyDrive/Capstone project/IHMStefanini_industrial_safety_and_health_database_with_accidents_description.csv")
data.head(3)

   Unnamed: 0  ...                                        Description
0           0  ...  While removing the drill rod of the Jumbo 08 f...
1           1  ...  During the activation of a sodium sulphide pum...
2           2  ...  In the sub-station MILPO located at level +170...

[3 rows x 11 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

un_le = LabelEncoder()
data_le = LabelEncoder()
Country_le = LabelEncoder()
Local_le = LabelEncoder()
Ind_le = LabelEncoder()
Acc_le = LabelEncoder()
Pot_le = LabelEncoder()
Gen_le = LabelEncoder()
Emp_le = LabelEncoder()
Crit_le = LabelEncoder()
Desc_le = LabelEncoder()

In [ ]:
un_le.fit(data[ 'Unnamed: 0'])
data_le.fit(data[ 'Data'])
Country_le.fit(data[ 'Countries'])
Local_le.fit(data[ 'Local'])
Ind_le.fit(data[ 'Industry Sector'])
Acc_le.fit(data[ 'Accident Level'])
Pot_le.fit(data[ 'Potential Accident Level'])
Gen_le.fit(data[ 'Genre'])
Emp_le.fit(data[ 'Employee or Third Party'])
Crit_le.fit(data[ 'Critical Risk'])
Desc_le.fit(data[ 'Description'])

LabelEncoder()

In [ ]:
data1 = pd.DataFrame()
data1[ 'Unnamed: 0'] = un_le.transform(data[ 'Unnamed: 0'])
data1[ 'Data'] = data_le.transform(data[ 'Data'])
data1[ 'Countries'] = Country_le.transform(data[ 'Countries'])
data1[ 'Local'] = Local_le.transform(data[ 'Local'])
data1[ 'Industry Sector'] = Ind_le.transform(data[ 'Industry Sector'])
data1[ 'Accident Level'] = Acc_le.transform(data[ 'Accident Level'])
data1[ 'Potential Accident Level'] = Pot_le.transform(data[ 'Potential Accident Level'])
data1[ 'Genre'] = Gen_le.transform(data[ 'Genre'])
data1[ 'Employee or Third Party'] = Emp_le.transform(data[ 'Employee or Third Party'])
data1[ 'Critical Risk'] = Crit_le.transform(data[ 'Critical Risk'])
data1[ 'Description'] = Desc_le.transform(data[ 'Description'])

In [ ]:
data

     Unnamed: 0  ...                                        Description
0             0  ...  While removing the drill rod of the Jumbo 08 f...
1             1  ...  During the activation of a sodium sulphide pum...
2             2  ...  In the sub-station MILPO located at level +170...
3             3  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4             4  ...  Approximately at 11:45 a.m. in circumstances t...
..          ...  ...                                                ...
420         434  ...  Being approximately 5:00 a.m. approximately, w...
421         435  ...  The collaborator moved from the infrastructure...
422         436  ...  During the environmental monitoring activity i...
423         437  ...  The Employee performed the activity of strippi...
424         438  ...  At 10:00 a.m., when the assistant cleaned the ...

[425 rows x 11 columns]

In [ ]:
data1

     Unnamed: 0  Data  ...  Critical Risk  Description
0             0     0  ...             20          398
1             1     1  ...             21          111
2             2     2  ...             15          240
3             3     3  ...             16           88
4             4     4  ...             16           16
..          ...   ...  ...            ...          ...
420         420   283  ...             16           93
421         421   283  ...             16          287
422         422   284  ...             31          123
423         423   285  ...              6          279
424         424   286  ...             11           20

[425 rows x 11 columns]

In [ ]:
# define dataset
X = data1.drop(columns='Accident Level',axis =0)
y = data1['Accident Level']

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()

# fit predictor and target variable
x_smote, y_smote = smote.fit_resample(X, y)

print('Original dataset shape', Counter(y))
print('Resample dataset shape', Counter(y_smote))

Original dataset shape Counter({0: 316, 1: 40, 2: 31, 3: 30, 4: 8})
Resample dataset shape Counter({0: 316, 3: 316, 2: 316, 1: 316, 4: 316})

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_new = pd.DataFrame() 
#X_new[ 'Unnamed: 0'] = un_le.inverse_transform(x_smote_df[ 'Unnamed: 0'])
X_new[ 'Data'] = data_le.inverse_transform(x_smote_df[ 'Data'])
X_new[ 'Countries'] = Country_le.inverse_transform(x_smote_df[ 'Countries'])
X_new[ 'Local'] = Local_le.inverse_transform(x_smote_df[ 'Local'])
X_new[ 'Industry Sector'] = Ind_le.inverse_transform(x_smote_df[ 'Industry Sector'])
X_new[ 'Potential Accident Level'] = Pot_le.inverse_transform(x_smote_df[ 'Potential Accident Level'])
X_new[ 'Genre'] = Gen_le.inverse_transform(x_smote_df[ 'Genre'])
X_new[ 'Employee or Third Party'] = Emp_le.inverse_transform(x_smote_df[ 'Employee or Third Party'])
X_new[ 'Critical Risk'] = Crit_le.inverse_transform(x_smote_df[ 'Critical Risk'])
X_new[ 'Description'] = Desc_le.inverse_transform(x_smote_df[ 'Description'])

X_new[ 'Accident Level'] = Acc_le.inverse_transform(y_smote)

In [ ]:
X_new

                     Data  ... Accident Level
0     2016-01-01 00:00:00  ...              I
1     2016-01-02 00:00:00  ...              I
2     2016-01-06 00:00:00  ...              I
3     2016-01-08 00:00:00  ...              I
4     2016-01-10 00:00:00  ...             IV
...                   ...  ...            ...
1575  2016-12-10 00:00:00  ...              V
1576  2017-04-13 00:00:00  ...              V
1577  2016-07-10 00:00:00  ...              V
1578  2017-03-18 00:00:00  ...              V
1579  2017-03-18 00:00:00  ...              V

[1580 rows x 10 columns]

In [ ]:
X_new.columns

Index(['Data', 'Countries', 'Local', 'Industry Sector',
       'Potential Accident Level', 'Genre', 'Employee or Third Party',
       'Critical Risk', 'Description', 'Accident Level'],
      dtype='object')

In [ ]:
X_new.to_csv('IHMStefanini_industrial_safety_and_health_database_with_accidents_description_Dataset_SMOTE.csv')